<!DOCTYPE html>
<html>

<head>
<title>Doctor Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<button onclick="goBack()" class="backbtn">⬅ Back</button>

<div class="container">

<h2>Doctor Login</h2>

<form method="POST">

<select name="doctor">

<option>Dr.Asha</option>
<option>Dr.Ravi</option>
<option>Dr.Meena</option>

</select>

<input type="password" name="password" placeholder="Enter Password" required>

<button type="submit" class="btn">Login</button>

</form>

</div>

<script>
function goBack(){
window.history.back();
}
</script>

</body>
</html>